body {
  width: 100%;

  font-family: Manrope, sans-serif;
  background: #f5f5f5;
}

.main-block-1 {
  width: 1400px;
  margin: 0 auto;
  padding: 128px 125px 150px 125px;

  background-color: #ffffff;
}

.introduction-block {
  margin-bottom: 150px;
}

h1 {
  line-height: 60px;

  font-weight: 400;
  font-size: 60px;
  letter-spacing: -0.03em;
}

.introduction-image {
  height: 500px;
  width: 1150px;

  margin-top: 30px;
  padding-top: 379px;
  padding-left: 40px;

  background-image: url("../resources/interior.png");
}

.introduction-image-text {
  width: 430px;
  line-height: 27px;

  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.description-block {
  margin-bottom: 150px;
}

.description-block-title {
  line-height: 25px;

  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.description-block-text {
  margin-top: 30px;
  line-height: 61px;

  font-size: 45px;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.description-block-btn {
  display: inline-block;

  margin-top: 30px;
  padding: 20px 40px;

  border: 1px solid #ad1818;

  background-color: #ad1818;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
}

.description-block-btn:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #ad1818;
}

.projects-list {
  width: 1150px;
}

.project {
  margin-bottom: 90px;
}

.projects-list-title {
  margin-bottom: 30px;
  line-height: 25px;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.03em;
  color: #121212;
}

.project_image {
  margin-bottom: 15px;
  width: 100%;
  height: 450px;
}

.project_title {
  margin-bottom: 15px;
  line-height: 41px;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -0.03em;
  color: #121212;
}

.project_btn {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #ad1818;
  text-decoration: none;
}

.project_btn:hover {
  cursor: pointer;
}

.projects-list-btn {
  display: inline-block;
  width: 1150px;
  height: 153px;
  padding: 56px 0;
  border: 1px solid #ad1818;
  border-radius: 5px;

  text-align: center;
  line-height: 41px;
  text-decoration: none;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -0.03em;
  color: #ad1818;
  background-color: #ffffff;
}

.projects-list-btn:hover {
  cursor: pointer;
  background-color: #ad1818;
  color: #ffffff;
}

.main-block-2 {
  margin: 0 auto;
  width: 1400px;
  padding: 151px 125px 90px 125px;
  background-color: #121212;
}

.item {
  margin-bottom: 60px;
}

.items-list-title {
  margin-bottom: 34px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: -0.03em;
  color: #fff;
}

.item_image {
  margin-bottom: 15px;
}

.item_title {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: -0.03em;
  color: #fff;
  line-height: 41px;
}
