body{
    width: 100%;

    font-family: Manrope, sans-serif; 
    background: #f5f5f5;
}

.container{
    width: 1400px;
    margin: 0 auto;
    padding: 125px;

    background-color: #FFFFFF;

}

.interior{
    height: 500px;
    width: 1150px;

    margin-top: 30px;
    padding-top: 379px;
    padding-left: 40px;

    background-image: url('../resources/interior.png');

}

.image-text{
    width: 430px;
    line-height: 27px;
    
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

h1 { 
    text-align: left;

    line-height: 60px;

    font-weight: 400;
    font-size: 60px;
    letter-spacing: -0.03em;
}

h2 {
    text-align: left;

    margin-top: 150px;
    line-height: 25px;
    
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.03em;
}

p.description {
    text-align: left;

    margin-top: 30px;
    line-height: 61px;


    font-size: 45px;
    font-weight: 400;
    letter-spacing: -0.03em;

}


a{
    display: inline-block;

    margin-top: 30px;
    padding: 20px 40px;

    border: 1px solid #AD1818;

    background-color:#AD1818; 
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    background-color:#FFFFFF;
    color: #AD1818;
}
